@model IEnumerable<API.SQL.Models.CensoEscola>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Ano)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CodEntidade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdDependenciaAdm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DependenciaAdministrativa)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rede)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataInicioAnoLetivo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataFimAnoLetivo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SituacaoFuncionamento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EfOrganizadoEmCiclos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AtividadeComplementar)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DocumentoRegulamentacao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Acessibilidade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DependenciasPne)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SanitariosPne)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Aee)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumSalasExistentes)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumSalasUsadas)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumSalasLeitura)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumFuncionarios)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EducacaoIndigena)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LinguaIndigena)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LinguaPortuguesa)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EspacoTurmaPba)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AbreFinalSemana)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModEnsRegular)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModEducEspecial)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModEja)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Ano)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CodEntidade)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdDependenciaAdm)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DependenciaAdministrativa)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rede)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DataInicioAnoLetivo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DataFimAnoLetivo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SituacaoFuncionamento)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EfOrganizadoEmCiclos)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AtividadeComplementar)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DocumentoRegulamentacao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Acessibilidade)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DependenciasPne)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SanitariosPne)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Aee)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumSalasExistentes)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumSalasUsadas)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumSalasLeitura)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumFuncionarios)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EducacaoIndigena)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LinguaIndigena)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LinguaPortuguesa)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EspacoTurmaPba)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AbreFinalSemana)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ModEnsRegular)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ModEducEspecial)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ModEja)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
			</td>
		</tr>
}
    </tbody>
</table>
